@media screen and (max-width:1117px) {
    .home-articles h2{
        text-align: center;
    }
    .flex-space-btw{
        justify-content: center;
    }
    
}
@media screen and (max-width:765px) {
    .navbar{
        flex-direction: column;
    }
    .nav-left{
        margin-bottom: 1rem;
        flex-direction: column;
    }
    .max-w-80{
        max-width: 100vw;
    }
    .home-article-content h3{
        text-align: center;
    }
    
}
@media screen and (max-width:575px) {
    .content{
        flex-direction: column;
    }
    .content-left{
        order: 1;
        text-align: center;
    }
    .content-right{
        order: 0;
    }
}